*{
  padding:0px;
  margin:0px;
}
.App {
  text-align: center;
  
}
.container{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  text-align: left;
  width:700px;
  margin-left: 24%;
  padding-left:30px;
  padding-right:30px;
  border:6px #777;
  width: 600px;
  height:98vh;
  border-style: ridge;
}

.btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  width:550px;
  margin-left:30px;
}

.btn-container .btn{
  justify-self: center;
  background-color: #C0C0C0;
  border-radius: 5px;
  width: 200px;
  border: 1px solid black;
  padding: 4px 7px 4px 7px ;
  cursor: pointer;
  margin: 12px 0px;
}
.next-btn{
  background-color: #C0C0C0;
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
  width:200px;
  margin: 0 auto;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
